html {
  font-size: 32px;
}

.body {
  text-align: center;  
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.25rem;
  text-align: center;
  padding-top: 13%;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  text-align: center;
  padding-top: 0.05%;
}

.Social {
  text-align: center;
  word-spacing: 3.25rem;
  padding-top: 45px;
}

.fa {
  padding: 13px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-github {
  background: #333;
  color: white;
}

.fa-linkedin {
  background: #0077B5;
  color: white;
}

.fa-instagram {
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: white;
}

.Menu {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: grey;
  word-spacing: 50px;
  text-align: center;
  padding-top: 180px;
  padding-right: 20px;
}

ul#menu li{
  display: inline;
}

.link:hover {
  opacity: 0.7;
}

.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}


.popup-inner {
    max-width:700px;
    width:90%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
    text-align: center;
}

.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    text-decoration: none;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}

.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 0.48rem;
  text-align: left;

}

#popup-img {
  margin: auto;
  width: 25%;
}